<ion-header>
  <ion-navbar color="primary">
    <ion-title>Editar Cliente</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <span ion-text >Cerrar</span>  
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
  
  
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>          
        <form  [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
        <ion-card padding no-margin margin-bottom class="full-width">          
          <ion-item>
            <ion-label stacked>Nombres (*)</ion-label>
            <ion-input type="text" formControlName="nombres" placeholder="Javier" value="{{(datosCliente | async)?.nombres}}"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="clienteForm.get('nombres').errors && clienteForm.get('nombres').dirty">
            <p color="danger" ion-text *ngIf="clienteForm.get('nombres').hasError('required')">Este campo es obligatorio</p>            
          </ion-item> 
          <ion-item>
            <ion-label stacked>Apellidos (*)</ion-label>
            <ion-input type="text" formControlName="apellidos" placeholder="Medina Loaiza" value="{{(datosCliente | async)?.apellidos}}"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="clienteForm.get('apellidos').errors && clienteForm.get('apellidos').dirty">
            <p color="danger" ion-text *ngIf="clienteForm.get('apellidos').hasError('required')">Este campo es obligatorio</p>            
          </ion-item>
          <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input type="text" formControlName="email" placeholder="jmedina@hotmail.com6" value="{{(datosCliente | async)?.email}}"></ion-input>
          </ion-item>                    
          <ion-item>
            <ion-label stacked>DNI</ion-label>
            <ion-input type="text" formControlName="dni" placeholder="41755993" value="{{(datosCliente | async)?.dni}}"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="clienteForm.get('dni').errors && clienteForm.get('dni').dirty">            
            <p color="danger" ion-text *ngIf="clienteForm.get('dni').hasError('pattern')">Solo incluir numeros (8 digitos)</p>            
          </ion-item>  
          <ion-item>                    
              <ion-label stacked>Fecha de Nacimiento (*)</ion-label>
              <ion-datetime [(ngModel)]="fechanac" displayFormat="MMMM DD, YYYY" [ngModelOptions]="{standalone: true}"
              monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"     
              monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Agos, Sep, Oct, Nov, Dic"
              dayNames="domingo, lunes, martes, miercoles, jueves, viernes, sabado"
              dayShortNames="dom, lun, mar, mie, jue, vie, sab"
              cancelText="Cancelar" doneText="Listo"></ion-datetime>                 
            </ion-item>     
        </ion-card>

        <button type="submit" ion-button icon-start block no-margin color="primary" [disabled]="!clienteForm.valid" round tappable>
          Actualizar
        </button>
        </form>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  
