<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="fondo">
  <ion-grid style="margin-top:4rem;">
    <ion-row>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-4 offset-lg-4 offset-xl-4 offset-md-3>
          
        <form  [formGroup]="insumoForm" fireForm path="{{path}}" (stateChange)="changeHandler($event)">
        <ion-card padding no-margin margin-bottom class="full-width">          
          <ion-item>
            <ion-label stacked>Nombre (*)</ion-label>
            <ion-input type="text" formControlName="nombre" placeholder="Placa panorámica"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="insumoForm.get('nombre').errors && insumoForm.get('nombre').dirty">
            <p color="danger" ion-text *ngIf="insumoForm.get('nombre').hasError('required')">Este campo es obligatorio</p>            
          </ion-item> 
          <!--<ion-item>
            <ion-label stacked>Stock (*)</ion-label>
            <ion-input type="number" formControlName="stock" placeholder="100"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="insumoForm.get('stock').errors && insumoForm.get('stock').dirty">
            <p color="danger" ion-text *ngIf="insumoForm.get('stock').hasError('required')">Este campo es obligatorio</p>            
          </ion-item> -->         
        </ion-card>

        <!--<button type="submit" ion-button icon-start block no-margin color="primary" [disabled]="!sucursalForm.valid" round tappable>
          Guardar
        </button>-->
        </form>
        <div *ngIf="state === 'synced'" style="width:100%; background-color:green; color:white; text-align:center; padding:3rem 0rem;">
            La informacion esta sincronizada con la base de datos
        </div>
        
        <div *ngIf="state === 'modified'" style="width:100%; background-color:orange; color:white; text-align:center; padding:3rem 0rem;">
            Guardando cambios en la base de datos...
        </div>
        <!-- Getting an ERROR Error: ExpressionChangedAfterItHasBeenCheckedError -->
        <!-- <div *ngIf="state === 'loading'" class="notification is-info">
            Form data is preloading
        </div> -->
        <div *ngIf="state === 'error'" style="width:100%; background-color:red; color:white; text-align:center; padding:3rem 0rem;">
            Error al guardar la informacion con la base de datos
        </div> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
